* {
    font-family: Arial, sans-serif;
    padding: 0;
    margin: 0;
}

body {
    background-color: lightcyan;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    display: flex; 
    flex-direction: row;
    width: 100%;
    max-width: 1000px;
    min-height: 1000px;
    box-shadow: 0 35px 55px rgba(0, 0, 0, 0.1);
    margin: 1%;
}

.left-container {
    flex: 1; 
    background-color: #003366;
    min-height: 100px;
}

.profile-picture {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background-position: center;
    background-size: cover;
    overflow: hidden;
    border: 5px solid white;  
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); 
    margin: 10px;
}

.profile-text{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 2%;
}

.profile-text span{
    color: lightslategray;
    font-size: medium;
    font-style: italic;
    font-weight: 100;
}

.profile-text h2{
    color: white;
    font-weight: bolder;
}

.contact-info{
    padding-top: 20px;
}

.left-title{
    color: white;
    text-transform: capitalize;
    font-weight: 600;
    letter-spacing: 1px;
    margin: 10px 5px;
}

.left-text{
    color: lightgray;
}

.right-text{
    color: #003366;
}

.bold{
    font-weight: bold;
    color: lightgray;
}
.right-bold{
    font-weight: bold;
}
.list{
    position: relative;
    list-style: none;
    margin: 10px 5px;
}

.contact-info ul{
    position: relative;
}

.contact-info ul li{
    position: relative;
    list-style: none;
    margin: 10px 5px;
}

.link-button {
    font: bold;
    cursor: pointer;
    transition: all 0.3s;
    text-decoration: none;
    color: #003366;
    background-color: white;
    padding: 5px 10px;
    margin-right: 10px;
    display: inline-block;
    border: 1px solid transparent;
    border-radius: 5px;
    margin: 5px 1px;
  
    transition:
      background-color 0.1s,
      color 0.1s;
  }
  
  .link-button:hover {
    background-color: black;
    color: blue;
    border: 1px solid blue;
  }

.education ul li{
    position: relative;
    list-style: none;
    margin: 10px 5px;
}

 /* Dropdown Style */
 .dropdown h3,
 .right-container h2 {
     cursor: pointer;
     padding: 10px;
     background-color: #f0f0f0;
     border: 1px solid #ccc;
     margin-bottom: 5px;
     border-radius: 5px;
 }
 .dropdown h3:hover,
 .right-container h2:hover {
     background-color: #e0e0e0;
 }
 .dropdown-content,
 .right-content {
     display: none;
     padding-left: 20px;
 }
 .dropdown-content ul,
 .right-content ul {
     list-style-type: none;
     padding: 0;
 }

.right-container {
    flex: 2; 
    background-color: lightgrey;
    min-height: 100px;
}

.right-title{
    color: #003366;
    text-transform: capitalize;
    font-weight: 600;
    letter-spacing: 1px;
    text-decoration: underline;
    margin: 10px 10px;
}
